.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  overflow: hidden;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

[data-modal].is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header {
  outline: 1px solid #ececec;
}
@media screen and (max-width: 480px) {
  .header {
    position: relative;
  }
}

.header__container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header__container {
    min-height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .header--is-open-menu .header__logo {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 222px;
        flex-basis: 222px;
  }
}

.header__menu-btn {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .header__menu-container {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    min-height: 100vh;
  }
  .header__menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .header__menu-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 512px;
        flex-basis: 512px;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu-container {
    -ms-flex-preferred-size: 916px;
        flex-basis: 916px;
  }
}

.header__nav {
  min-height: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .header__contact-links {
    display: none;
  }
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__col {
  --p-line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .footer__col:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__col:nth-child(1), .footer__col:nth-child(2) {
    width: 50%;
  }
  .footer__col:nth-child(3) {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__col {
    text-align: left;
  }
}

.footer__address {
  margin-bottom: 9px;
  line-height: var(--p-line-height);
  font-style: normal;
}

.footer__contact-links {
  line-height: var(--p-line-height);
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .nav {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 480px) {
  .nav {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: unset;
  }
}

@media screen and (max-width: 767px) {
  .nav__contact-links {
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .nav__social.social {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav-links__item:not(:last-child) {
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .nav-links__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.nav-links__link {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 480px) {
  .nav-links__link {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .nav-links__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    position: relative;
    padding: 32px 0;
  }
  .nav-links__link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
    -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .nav-links__link.current::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
.nav-links__link.current, .nav-links__link:hover, .nav-links__link:focus {
  color: #2196f3;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 22px;
}
@media screen and (min-width: 480px) {
  .contact-links {
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contact-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
.contact-links--footer {
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .contact-links--footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contact-links__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (max-width: 767px) {
  .header__menu-container .contact-links__link {
    font-size: 24px;
  }
  .header__menu-container .contact-links__link--tel {
    line-height: 1.18;
    color: #2196f3;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .header__menu-container .contact-links__link--tel {
    font-size: 34px;
  }
}
@media screen and (max-width: 767px) {
  .header__menu-container .contact-links__link--mail {
    line-height: 1.17;
    color: #757575;
  }
}
@media screen and (min-width: 768px) {
  .contact-links__link {
    font-size: 12px;
    line-height: 1.14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    padding: 0;
    color: #757575;
  }
  .contact-links__link:hover, .contact-links__link:focus {
    color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .contact-links__link {
    padding: 32px 0;
    gap: 10px;
    font-size: 14px;
  }
}
.contact-links__link--footer {
  color: #757575;
}
.contact-links__link--footer:hover, .contact-links__link--footer:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contact-links__link--footer {
    font-size: 14px;
    padding: 0;
    line-height: inherit;
  }
}

@media screen and (max-width: 767px) {
  .contact-links__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact-links__icon--phone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-links__icon--phone {
    width: 10px;
    height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contact-links__icon--email {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-links__icon--email {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-links__use--mob {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contact-links__use--desk {
    display: none;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  min-width: 200px;
  font-family: inherit;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
  border: none;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.btn:hover, .btn:focus {
  color: #2196f3;
  background-color: #f5f4fa;
}

.btn__icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: center;
}

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.social--text {
  --side-padding: 10px;
  --divide-width: 1px;
  gap: calc(var(--side-padding) * 2 + var(--divide-width));
}
.social--icon {
  gap: 10px;
}
.footer .social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header__menu-container .social__item {
  position: relative;
}
.header__menu-container .social__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--side-padding) * -1);
  width: var(--divide-width);
  background-color: rgba(33, 33, 33, 0.2);
}

.social__link {
  --color-hover: #fff;
}
.social--text .social__link {
  display: block;
  font-size: 13px;
  line-height: 1.32;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .social--text .social__link {
    font-size: 18px;
    line-height: 1.22;
  }
}
.social--icon .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.social--icon .social__link:hover, .social--icon .social__link:focus {
  color: var(--color-hover);
  background-color: #2196f3;
}
.social--light .social__link {
  color: #afb1b8;
}
.social--dark .social__link {
  color: var(--color-hover);
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.social__svg {
  display: block;
}

.logo {
  display: block;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  font-weight: 700;
  color: #000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--white {
  color: #fff;
}

.logo__accent {
  color: #2196f3;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section--top-collapse {
  padding-top: 0;
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.promo-card__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .promo-card__title {
    text-align: left;
  }
}

.promo-card__desc {
  line-height: 1.71;
  color: #757575;
}

.employee-card {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.employee-card__content {
  padding: 30px 30px 24px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .employee-card__content {
    padding-bottom: 30px;
  }
}

.employee-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.employee-card__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.tab-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
@media screen and (min-width: 768px) {
  .tab-controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.tab-controls__btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.tab-controls__btn.current, .tab-controls__btn:hover, .tab-controls__btn:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  text-decoration: none;
  color: inherit;
  -webkit-transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.project-card:hover, .project-card:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__img-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.project-card:hover .project-card__overlay, .project-card:focus .project-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project-card__img-text {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
}

.project-card__img {
  width: 100%;
}

.project-card__desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 19px 23px;
  border: 1px solid #eee;
  border-top-color: transparent;
}

.project-card__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-card__type {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.modal {
  position: relative;
  width: 450px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
[data-modal].is-hidden .modal {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000;
  background-color: transparent;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  cursor: pointer;
}
.modal__close:hover, .modal__close:focus {
  color: #2196f3;
}

.modal__close-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 11px;
  height: 11px;
}

@media screen and (min-width: 768px) {
  .form-subscribe__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__row {
    gap: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .form-subscribe__field {
    margin-bottom: 20px;
  }
}

.form-subscribe__submit-btn {
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.form-subscribe__submit-btn:hover, .form-subscribe__submit-btn:focus {
  color: #2196f3;
  background-color: #fff;
}

.form-subscribe__btn {
  -ms-flex-item-align: center;
      align-self: center;
}

.field-subscribe {
  display: block;
}
.field-subscribe__input {
  display: inline-block;
  width: 100%;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: inherit;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
}
@media screen and (min-width: 768px) {
  .field-subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .field-subscribe__input {
    width: 358px;
  }
}
.field-subscribe__input:focus {
  border-color: #2196f3;
}
.field-subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.field-subscribe__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.field-subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.field-subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.field-subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-callback__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .form-callback__title {
    line-height: 1.15;
  }
}

.form-callback__main-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-bottom: 14px;
}
@media screen and (min-width: 1200px) {
  .form-callback__main-group {
    margin-bottom: 20px;
  }
}

.form-callback__agreement {
  width: 425px;
  margin-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .form-callback__agreement {
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
  }
}

.form-callback__btn {
  -ms-flex-item-align: center;
      align-self: center;
}

.field-callback {
  padding-top: 18px;
}

.field-callback__label-wrapper {
  position: relative;
  display: block;
}

.field-callback__label {
  position: absolute;
  top: -4px;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.field-callback__input {
  width: 100%;
  padding: 12px 16px 12px 42px;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.field-callback__label-wrapper:focus-within .field-callback__input {
  border-color: #2196f3;
}
.field-callback__input--text-area {
  height: 120px;
  padding-left: 16px;
  resize: none;
  line-height: 1.14;
}
@media screen and (min-width: 1200px) {
  .field-callback__input--text-area {
    font-size: 12px;
    line-height: 1.17;
  }
}
.field-callback__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.field-callback__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.field-callback__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.field-callback__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.field-callback__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.field-callback__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  color: #000;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.field-callback__label-wrapper:focus-within .field-callback__icon {
  color: #2196f3;
}

.checkbox-callback__label-wrapper {
  position: relative;
  font-size: 12px;
  line-height: 1.71;
  color: #757575;
  cursor: pointer;
  vertical-align: center;
}
@media screen and (min-width: 1200px) {
  .checkbox-callback__label-wrapper {
    font-size: 14px;
  }
}

.checkbox-callback__icon {
  -webkit-transform: translateY(18%);
          transform: translateY(18%);
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 4px;
  border-radius: 2px;
  color: #fff;
  background-color: #2196f3;
  overflow: hidden;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.checkbox-callback__input:not(:checked) + .checkbox-callback__icon {
  background-color: #fff;
}

.checkbox-callback__svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.checkbox-callback__input:checked + .checkbox-callback__icon .checkbox-callback__svg--unchecked {
  opacity: 0;
}
.checkbox-callback__input:not(:checked) + .checkbox-callback__icon .checkbox-callback__svg--unchecked {
  opacity: 1;
}

.checkbox-callback__link {
  color: #2196f3;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .checkbox-callback__link {
    font-size: 14px;
  }
}
.checkbox-callback__link:hover, .checkbox-callback__link:focus {
  color: #000;
}

.menu-container {
  padding: 48px 20px;
  background-color: #fff;
}
@media screen and (min-width: 480px) {
  .menu-container {
    padding: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .menu-btn:hover, .menu-btn:focus {
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon {
  display: block;
}
.menu-btn[aria-expanded=true] .menu-btn__icon--burger {
  display: none;
}
.menu-btn[aria-expanded=false] .menu-btn__icon--close {
  display: none;
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding: 118px 0;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-480.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2dppx), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-480@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-480@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-768.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-768.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2dppx), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-768@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-768@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-1600.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1600.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2dppx), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-1600@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1600@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title {
  max-width: 360px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 796px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.promo__list {
  --gap: 30px;
}
@media screen and (min-width: 768px) {
  .promo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: var(--gap);
  }
}
@media screen and (max-width: 767px) {
  .promo__item:not(:last-child) {
    margin-bottom: var(--gap);
  }
}
@media screen and (min-width: 768px) {
  .promo__item {
    --columns: 2;
    width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
  }
}
@media screen and (min-width: 1200px) {
  .promo__item {
    --columns: 4;
  }
}

.promo__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.promo__icon {
  display: block;
}

@media screen and (max-width: 1199px) {
  .we-do {
    display: none;
  }
}

.we-do__list {
  --gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap);
}

.we-do__item {
  --columns: 3;
  position: relative;
  width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
}

.we-do__img-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding: 60px 0;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__list {
  --gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: var(--gap);
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: var(--gap);
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    --columns: 2;
    width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    --columns: 4;
  }
}

.clients__list {
  --gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap);
}

.clients__item {
  --columns: 2;
  width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
}
@media screen and (min-width: 768px) {
  .clients__item {
    --columns: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    --columns: 6;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients__svg {
  display: block;
}

.portfolio__controls {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__controls {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__controls {
    margin-bottom: 50px;
  }
}

.portfolio__list {
  --gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: var(--gap);
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: var(--gap);
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    --columns: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    --columns: 3;
  }
}/*# sourceMappingURL=main.css.map */