.nav-links {
  @media screen and (min-width: $vp-tab) {
    display: flex;
    gap: 50px;
  }
}

.nav-links__item {
  @media screen and (max-width: ($vp-tab - 1)) {
    &:not(:last-child) {
      margin-bottom: 22px;
    }

    @media (min-width: $vp-mob) {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
}

.nav-links__link {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;

  @media screen and (min-width: $vp-mob) {
    font-size: 40px;
  }

  @media screen and (min-width: $vp-tab) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    //letter-spacing: 0.02em;
    transition: color $transition;
    position: relative;
    padding: 32px 0;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;
      height: 4px;
      border-radius: 2px;
      background-color: $color-active;
      transform: scaleX(0);
      opacity: 0;
      transition: transform $transition, opacity $transition;
    }

    &.current::after {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  &.current,
  &:hover,
  &:focus {
    color: $color-active;
  }
}
