.employee-card {
  background: $color-white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.employee-card__content {
  padding: 30px 30px 24px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  @media screen and (min-width: $vp-desk) {
    padding-bottom: 30px;
  }
}

.employee-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.employee-card__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $color-light-text;
}
