.logo {
  display: block;
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  font-weight: 700;
  color: $color-black;

  @media screen and (min-width: $vp-desk) {
    font-size: 26px;
    line-height: 1.19;
  }

  &--white {
    color: $color-white;
  }
}

.logo__accent {
  color: $color-active;
}
