.team {
  padding: $section-container-mob 0;
  background-color: $color-light-2;

  @media screen and (min-width: $vp-desk) {
    padding: $section-container-desk 0;
  }
}

.team__list {
  --gap: 30px;

  @media screen and (min-width: $vp-tab) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }
}

.team__item {
  @media screen and (max-width: ($vp-tab - 1)) {
    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }

  @media screen and (min-width: $vp-tab) {
    --columns: 2;
    width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
  }

  @media screen and (min-width: $vp-desk) {
    --columns: 4;
  }
}
